In [27]:
import pandas as pd

In [28]:
words_used = pd.read_csv("words_used.txt", sep='\n')
words_used.head()

                   words
0  JUL 10 - #386 - BERTH
1  JUL 09 - #385 - STEAD
2  JUL 08 - #384 - VOICE
3  JUL 07 - #383 - AGAPE
4  JUL 06 - #382 - FLUFF

In [29]:
expanded = words_used['words'].str.split(' ', expand=True)
expanded.head()

     0   1  2     3  4      5     6
0  JUL  10  -  #386  -  BERTH  None
1  JUL  09  -  #385  -  STEAD  None
2  JUL  08  -  #384  -  VOICE  None
3  JUL  07  -  #383  -  AGAPE  None
4  JUL  06  -  #382  -  FLUFF  None

In [44]:
expanded[5] = expanded[5].str.lower()
expanded[5].head()

0    berth
1    stead
2    voice
3    agape
4    fluff
Name: 5, dtype: object

In [45]:
words_used_set = set(expanded[5])
print(len(words_used_set))
words_used_set.remove('')
print(len(words_used_set))

191
190

In [31]:
wordle_words = pd.read_csv("words.txt", sep='\n')
wordle_words.head()

   words
0  aback
1  abase
2  abate
3  abbey
4  abbot

In [46]:
len(wordle_words) - len(words_used_set)

2125

In [47]:
len(set(wordle_words['words']).difference(set(expanded[5])))

2125

In [51]:
words_used_df = pd.DataFrame(words_used_set, columns=['words'])
words_used_df.head()

   words
0  float
1  fewer
2  trove
3  query
4  favor

In [53]:
words_used_df.to_csv('words_used_formatted.txt', index=False, header=False)

In [54]:
possible_wordle_words = pd.DataFrame(set(wordle_words['words']).difference(set(expanded[5])), columns=['words'])
possible_wordle_words.head()

   words
0  llama
1  scout
2  unite
3  thyme
4  coral

In [56]:
possible_wordle_words.to_csv('possible_wordle_words.txt', index=False, header=False)

In [57]:
ALLOWED_ATTEMPTS = 6
WORD_LENGTH = 5
WORDS = set(possible_wordle_words['words'])

In [58]:
from collections import Counter
from itertools import chain

LETTER_COUNTER = Counter(chain.from_iterable(WORDS))

In [59]:
LETTER_COUNTER

Counter({'l': 659,
         'a': 895,
         'm': 289,
         's': 610,
         'c': 439,
         'o': 673,
         'u': 435,
         't': 660,
         'n': 532,
         'i': 623,
         'e': 1139,
         'h': 348,
         'y': 398,
         'r': 823,
         'b': 263,
         'd': 368,
         'g': 285,
         'w': 178,
         'p': 338,
         'k': 191,
         'f': 211,
         'v': 141,
         'z': 39,
         'q': 27,
         'x': 34,
         'j': 27})

In [63]:
sum(LETTER_COUNTER.values())

10625

In [64]:
LETTER_FREQUENCY = {
    character: value / sum(LETTER_COUNTER.values()) for character, value in LETTER_COUNTER.items()
}
LETTER_FREQUENCY

{'l': 0.062023529411764707,
 'a': 0.08423529411764706,
 'm': 0.0272,
 's': 0.05741176470588235,
 'c': 0.04131764705882353,
 'o': 0.06334117647058823,
 'u': 0.04094117647058824,
 't': 0.06211764705882353,
 'n': 0.05007058823529412,
 'i': 0.058635294117647056,
 'e': 0.1072,
 'h': 0.03275294117647059,
 'y': 0.03745882352941177,
 'r': 0.07745882352941176,
 'b': 0.02475294117647059,
 'd': 0.034635294117647056,
 'g': 0.026823529411764704,
 'w': 0.01675294117647059,
 'p': 0.03181176470588235,
 'k': 0.017976470588235295,
 'f': 0.019858823529411766,
 'v': 0.013270588235294117,
 'z': 0.0036705882352941178,
 'q': 0.0025411764705882355,
 'x': 0.0032,
 'j': 0.0025411764705882355}

In [65]:
def calculate_word_commonality(word):
    score = 0.0
    for char in word:
        score += LETTER_FREQUENCY[char]
    return score / (WORD_LENGTH - len(set(word)) + 1)

In [66]:
calculate_word_commonality("fuzzy")

0.05280000000000001

In [67]:
calculate_word_commonality("arose")

0.3896470588235294

In [68]:
import operator

def sort_by_word_commonality(words):
    sort_by = operator.itemgetter(1)
    return sorted(
        [(word, calculate_word_commonality(word)) for word in words],
        key=sort_by,
        reverse=True,
    )

def display_word_table(word_commonalities):
    for (word, freq) in word_commonalities:
        print(f"{word:<10} | {freq:<5.2}")

In [71]:
pd.read_csv('possible_wordle_words.txt', sep='\n', header=None)

          0
0     llama
1     scout
2     unite
3     thyme
4     coral
...     ...
2120  befit
2121  flirt
2122  trace
2123  phony
2124  award

[2125 rows x 1 columns]

In [73]:
for i, j in enumerate('words'):

    print(j)

w
o
r
d
s

In [74]:
'words'[0]

'w'